.making-an-appointment {
    padding: 18px 30px 19px 30px;
    background: #FF276C;
    border-radius: 15px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.27;
    color: #FFFFFF;
    clip-path: polygon(0 0%, 98% 5%, 100% 100%, 0 100%);
}