.title-3 {
    font-weight: 600;
    font-size: 56px;
    line-height: 150.5%;
    text-transform: uppercase;
}

.title-3__accent-1 {
    color: #FFCB06;
}
.title-3__accent-2 {
    color: #FB6042;
}

.title-3__text-decor {
    font-size: 56px;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #7BC35A;
}