.title-main {
    margin-top: 12px;
    font-weight: 700;
    font-size: 64.5px;
    line-height: 1.3;

    @media (max-width:1080px) {
        font-weight: 600;
        font-size: 52px;
    }

    @media (max-width:768px) {
        margin-bottom: 21px;
        max-width: 505px;
        margin-top: 0;
        font-size: 70px;
    }

    @media (max-width:600px) {
        font-weight: 700;
        font-size: 38px;
        line-height: 49px;
        text-align: center;
    }
}